In [78]:
#Imports pandas as pd
import pandas as pd

In [79]:
## Load data
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')

## Turn data into a dataframe

air_data = pd.DataFrame(air_data)

In [80]:
## Group your data
air_data_grouped = air_data.groupby('sensor.name')

In [81]:
### temperature function

#defines a function that assigns temperature levels

def assign_temperature(temperature):
    if temperature < 32: 
        return 'Below Freezing'
    elif 32<= temperature <=50:
        return 'Cool'
    elif 51<= temperature <=70:
        return 'warm'
    else: 
        return "Hot" #this line means that if the temperature is > 71 it is Hot

### Applies function to the temperature column in your air_data

air_data['temperature_level'] = air_data['temperature'].apply(assign_temperature)


# Creates new column inside air_data called temperature_level

In [95]:
### Humidity function

#defines a function that assigns humidity levels
def assign_humidity(Humidity):
    if Humidity < 50: 
        return 'Low'
    elif 50<= Humidity <=80:
        return 'High'
    else: 
        return "Very High"

### Applies function to the temperature column in your air_data
air_data["Humidity_Level"] = air_data['humidity'].apply(assign_humidity)

# Creates new column inside air_data called Humidity_Level

In [96]:
### Altitude function

#defines a function that assigns Altitude levels
def assign_altitude(altitude):
    if altitude < 1000: 
        return 'Low'
    elif 1000<= altitude <=2500:
        return 'High'
    else: 
        return "Very High"




### Applies function to the temperature column in your air_data
air_data["alt_level"] = air_data['sensor.altitude'].apply(assign_altitude)

# Creates new column inside air_data called alt_level

In [97]:
### Aggregate the grouped data
## Summary stats on PM 2.5


air_data_pm25 = air_data_grouped.agg(mean = ('pm2.5_atm', 'mean'),
                                     median = ('pm2.5_atm', 'median')
                                     
                                    )


### Find the top 5 locations with highest mean and median values of each parameter

### PM 2.5 Mean
top5 = (
    air_data_pm25.sort_values(by = ['mean','median'], ascending = False) 
) 
#prints data
top5.head(5)

                                                          mean     median
sensor.name
Broken Bow                                          928.710593  36.050240
#16 - Richardson County Courthouse                  700.127342  11.977344
#18 - Southeast District Health Department- Tec...  613.175352  10.322875
NCDHD O'Neill #11                                   164.495078   7.251208
Swnphd-mccook                                       123.011622   4.582281

In [98]:
## Summary stats on voc
### Find the top 5 locations with highest mean and median values of each parameter

### VOC Mean and Median
air_data_voc = air_data_grouped.agg(mean = ('voc', 'mean'),
                                     median = ('voc', 'median')
                                     
                                    )
### Find the top 5 locations with highest mean and median values of each parameter

### voc Mean
top51 = (air_data_voc.sort_values(by = ['mean','median'], ascending = False) 
)


top51.head(5)

                                             mean      median
sensor.name
Swnphd-ogallala                        399.434240  423.082292
FCHD-YPS                               372.462720  375.383500
Three Rivers Public Health Department  370.216208  376.810167
ELVPHD Norfolk HD 4                    360.833744  368.580500
Swnphd-mccook                          353.941581  381.468479

In [99]:

### Aggregate the grouped data

## Summary stats on PM 10.0
### Find the top 5 locations with highest mean and median values of each parameter

### PM 10.0 Mean and Median
air_data_pm100 = air_data_grouped.agg(mean = ('pm10.0_atm', 'mean'),
                                     median = ('pm10.0_atm', 'median')
                                     
                                    )

top52 = (air_data_pm100.sort_values(by = ['mean','median'], ascending = False) 
)

#prints Data
top52.head(5)

                                                          mean     median
sensor.name
Broken Bow                                          929.678512  43.179094
#16 - Richardson County Courthouse                  701.632446  13.305615
#18 - Southeast District Health Department- Tec...  614.227248  11.433729
NCDHD O'Neill #11                                   166.132578   8.427437
Swnphd-mccook                                       124.227336   5.372073

In [100]:
# Sort by max for PM2.5
pm25_max = air_data.sort_values(by = 'pm2.5_atm', ascending = False)

# Use the sensor name and date for PM2.5

pm25_max_date_sensor = pm25_max [['date', 'sensor.name', 'pm2.5_atm', 'temperature_level', 'Humidity_Level', 'alt_level']]

#prints data
pm25_max_date_sensor.head(5)

,date,sensor.name,pm2.5_atm,temperature_level,Humidity_Level,alt_level
7561,02/18/25,#16 - Richardson County Courthouse,3782.823313,Hot,Very High,High
7583,02/19/25,#16 - Richardson County Courthouse,3401.999333,Hot,Very High,High
7605,02/20/25,#16 - Richardson County Courthouse,3243.746646,Hot,Very High,High
6962,01/21/25,#16 - Richardson County Courthouse,3209.817146,Hot,Very High,High
7572,02/18/25,Broken Bow,3205.868854,Below Freezing,Low,Very High

In [101]:
# Sort by max for PM10.0
pm100_max = air_data.sort_values(by = 'pm10.0_atm', ascending = False)

# Use the sensor name and date for PM10.0

pm100_max_date_sensor = pm100_max [['date', 'sensor.name', 'pm10.0_atm', 'temperature_level', 'Humidity_Level', 'alt_level']]

#prints data
pm100_max_date_sensor.head(5)

,date,sensor.name,pm10.0_atm,temperature_level,Humidity_Level,alt_level
7561,02/18/25,#16 - Richardson County Courthouse,3784.682542,Hot,Very High,High
7583,02/19/25,#16 - Richardson County Courthouse,3403.435958,Hot,Very High,High
7605,02/20/25,#16 - Richardson County Courthouse,3245.613354,Hot,Very High,High
6962,01/21/25,#16 - Richardson County Courthouse,3211.046813,Hot,Very High,High
7572,02/18/25,Broken Bow,3206.779708,Below Freezing,Low,Very High

In [102]:
# Sort by max for voc
voc_max = air_data.sort_values(by = 'voc', ascending = False)

# Use the sensor name and date for PM2.5

voc_max_date_sensor = voc_max [['date', 'sensor.name', 'voc', 'temperature_level', 'Humidity_Level', 'alt_level']]
#prints data
voc_max_date_sensor.head(5)

,date,sensor.name,voc,temperature_level,Humidity_Level,alt_level
2391,06/24/24,Swnphd-ogallala,1209.931571,Hot,Low,Very High
4795,10/05/24,SWNPHD-Imerial,1135.473000,Hot,Low,Very High
5774,11/23/24,SWNPHD-Imerial,1041.722000,warm,Low,Very High
4948,10/12/24,ELVPHD Norfolk HD 4,884.649000,Hot,Low,High
5024,10/16/24,SWNPHD-Imerial,871.182000,Hot,Low,Very High

In [103]:
# finds the data that is considered unhealhy for sensative groups AQI rating 101-150 which is from 35.5 to 55.5 for pm2.5

unhealthy_pm25 = air_data[(air_data['pm2.5_atm'] > 35.5) & (air_data['pm2.5_atm'] <= 55.5)] #only has rows that correspond to 35.5< pm2.5 <= 55.5

#Step 2 sort by date and sensor name 

unhealthy_events_pm25 = unhealthy_pm25[
['date', 'sensor.name','pm2.5_atm']
].sort_values('pm2.5_atm', ascending = False)
#prints data
unhealthy_events_pm25

          date                                        sensor.name  pm2.5_atm
1350  05/14/24                               PHS Fairbury JCHL 13  52.773958
7493  02/15/25                                 ELVPHD Wisner HD 5  51.984812
1359  05/14/24              Three Rivers Public Health Department  51.491208
1351  05/14/24                                ELVPHD Norfolk HD 4  50.918271
3137  07/25/24                                   Swnphd-Benklemen  49.938125
...        ...                                                ...        ...
6720  01/09/25                                  #17 - Otoe County  35.746292
7836  03/02/25                                      Swnphd-mccook  35.738500
3799  08/21/24  South Heartland District Health Dept. Hastings...  35.675229
3208  07/27/24                Loup Basin Public Health Department  35.529521
1357  05/14/24                                         Broken Bow  35.501729

[118 rows x 3 columns]

In [104]:
# # find the data that is considered unhealhy for sensative groups AQI rating 101-150 which is from 155 to 245 for pm10.0

unhealthy_pm100 = air_data[(air_data['pm10.0_atm'] > 155) & (air_data['pm10.0_atm'] <= 245)] #only has rows that correspond to 155 to 245

#Sorts by date and sensor name 

unhealthy_events100 = unhealthy_pm100[
['date', 'sensor.name','pm10.0_atm']
].sort_values('pm10.0_atm', ascending = False)
#prints Data
unhealthy_events100

          date                          sensor.name  pm10.0_atm
2144  06/14/24  Loup Basin Public Health Department  231.757021
6076  12/08/24   #16 - Richardson County Courthouse  200.798396
2443  06/27/24                     Swnphd-Benklemen  188.977500